﻿@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="row">
	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Hakkımda</h4>
				<div class="table-responsive">
					<br />
					<table class="table table-bordered" style="color:white;">
						<thead>
							<tr>
								<th scope="col" class="sort" data-sort="name">#</th>
								<th scope="col" class="sort" data-sort="budget">Başlık</th>
								<th scope="col" class="sort" data-sort="status">Açıklama</th>
								<th scope="col" class="sort" data-sort="status">Yaş</th>
								<th scope="col" class="sort" data-sort="status">Mail</th>
								<th scope="col" class="sort" data-sort="status">Telefon</th>
								<th scope="col" class="sort" data-sort="status">Adres</th>
								<th scope="col" class="sort" data-sort="status">Resim</th>
								<th scope="col" class="sort text-center" data-sort="completion">İşlemler</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var x in Model)
							{

								count++;
								<tr>
									<td>@count</td>
									<td>@x.Title</td>
									<td>@(x.Description.Length > 50 ? x.Description.Substring(0, 50) + "..." : x.Description)</td>
									<td>@x.Age</td>
									<td>@x.Mail</td>
									<td>@x.Phone</td>
									<td>@x.Address</td>
									<td><img src="@x.ImageUrl" style="width:50px; height:50px;" /></td>
									<td class="text-center">
										<a class="btn btn-outline-danger" href="/About/DeleteAbout/@x.AboutID" id="DeleteBtn"
										   onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="ni ni-fat-remove"></i> Sil</a>

										@* 	<a href="/About/DeleteAbout/@x.AboutID" class="btn btn-outline-danger"><i class="ni ni-fat-remove"></i> Sil</a> *@
										<a href="/About/EditAbout/@x.AboutID" class="btn btn-outline-success" style="margin-left:25px;"><i class="ni ni-scissors"></i> Güncelle</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<a href="/About/CreateAbout" class="btn btn-outline-primary"><i class="mdi mdi-plus-box"></i> Yeni Hakkımda Ekle</a>

