@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "CreatePortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:35%;margin-top:8%;">
    <br /><br /><br />
    <h4 style="margin-left:10px;">Yeni Proje Oluşturma Sayfası</h4>
    <form method="post" class="col-xl-5 col-md-5 table-bordered" style="height:470px;">
        <br />
        <b>@Html.Label("İsim")</b>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
        <br />
        <b>@Html.Label("Başlık")</b>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title)

        <br />
        <b>@Html.Label("Resim")</b>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ImageUrl)

        <br />
        <b>@Html.Label("Github Url")</b>
        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Url)
        <br />
        <button class="btn btn-success">Kaydet</button>
    </form>
</div>

