
@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:35%;margin-top:8%;">
    <br /><br /><br />
    <h4 style="margin-left:10px;">Deneyim Düzenleme Sayfası</h4>
    <form method="post" class="col-xl-5 col-md-5 table-bordered" style="height:580px;">
        <br />
        @Html.HiddenFor(x => x.ExperienceID)
        <b>@Html.Label("İsim")</b>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Çalışma Tarihi")</b>
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Icon Url")</b>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        <br />
        <b>@Html.Label("Açıklama")</b>
        @Html.TextAreaFor(x => x.Description, 4, 1, new { @class = "form-control", @row = "4" })
        <br />
        <b>@Html.Label("Başlık")</b>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Güncelle</button>
    </form>
</div>